@model HallodocServices.ModelView.TimeSheetVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="~/css/adminsite/adminmyprofile.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <style>
        .form-control:disabled {
            background-color: #ffffff;
            opacity: 1;
            border: none;
        }
    </style>
</head>
<body>

    @if (TempData["Finalize"] != null)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.error('@TempData["Finalize"]');
        </script>

    }

    <div class="sticky-top bg-white shadow">
        <header>
            <div class="d-flex d-lg-flex">
                <button type="button" class="btn btn-outline-info d-flex d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-list"></i></button>
            </div>
            <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 90px;"></div>
            <div class="right">
                <div class="intro mx-1"><p>Welcome:</p></div>
                <div class="s intro mx-1"><span><b>@ViewBag.Name</b></span></div>
                <div class="ilogout">
                    <button type="button" class="btn btn-outline-info"><i class="bi bi-box-arrow-right"></i></button>
                </div>
                <div class="Logout">
                    <button type="button" class="btn btn-outline-info mx-1">Logout</button>
                </div>
                <div class="theme mx-1" onclick="toggleTheme()"><img src="~/images/icons8-moon-symbol-25.png" alt="theme"></div>
            </div>
        </header>


        <div class="offcanvas offcanvas-start d-lg-none" style="width:50%" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Welcome,@ViewBag.Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body align-items-center nav-tabs p-0">


                <a class="nav-link mt-3 ps-2 " asp-controller="Provider" asp-action="ProviderDashBoard">DashBoard</a>


                <a class="nav-link  mt-3 ps-2 fw-semibold" style="background-color:#e5f8fd">Invoicing</a>



                <a class="nav-link  mt-3 ps-2 " asp-controller="Provider" asp-action="MySchedule">MySchedule</a>


                <a class="nav-link  mt-3 ps-2">My Profile</a>






            </div>
        </div>

        <ul class="nav nav-underline d-none d-lg-flex shadow" id="hide" style="padding-left: 2%; margin-bottom: 40px;">
            <li class="nav-item ">
                <a class="nav-link text-black" asp-controller="Provider" asp-action="ProviderDashBoard"><b>DashBoard</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black active"><b>Invoicing</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-black" asp-controller="Provider" asp-action="MySchedule"><b>My Schedule</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-black"><b>My Profile</b></a>
            </li>

        </ul>

    </div>

    <div class="he">
        <div class="he1 h4">
            <p>TimeSheet</p>
        </div>

    </div>

    <div class="ct shadow mb-2 pb-2 pt-2">
        @if (Model.timeSheetList[0].IsSubmit == true)
        {
            <div class="table-responsive mb-3">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>Shift Date</th>
                            <th>Shift</th>
                            <th>NightShift Weekend</th>
                            <th>Housecall</th>
                            <th>Housecall Nights Weekend</th>
                            <th>Phone consults</th>
                            <th>Phone consults Nights Weekend</th>
                            <th>Batch Testing</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.timeSheetList)
                        {
                            <tr>
                                <td>@item.ShiftDate.Value.ToString("MMM") @item.ShiftDate.Value.Day,@item.ShiftDate.Value.Year</td>
                                <td>@item.ShiftCount</td>
                                <td>0</td>
                                <td>@item.NumberOfHouseCall</td>
                                <td>0</td>
                                <td>@item.NumberOfPhoneConsult</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {

            <form asp-controller="Provider" asp-action="SubmitBiWeeklyList">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th>Date</th>
                                <th>On-Call Hours</th>
                                <th>Total Hours</th>
                                <th>Weekend/Holiday</th>
                                <th>Number of Housecalls</th>
                                <th>Number of Phone consults</th>
                            </tr>
                        </thead>
                        <tbody>


                            <input type="hidden" name="PhysicianId" value="@ViewBag.Id">
                            <input type="hidden" name="StartDate" value="@Model.timeSheetList[0].ShiftDate">
                            <input type="hidden" name="EndDate" value="@Model.timeSheetList[Model.timeSheetList.Count()-1].ShiftDate">

                            @foreach (var item in Model.timeSheetList)
                            {
                                <tr>
                                    <td>@item.ShiftDate.Value.ToString("MMM") @item.ShiftDate.Value.Day,@item.ShiftDate.Value.Year</td>
                                    <td>@item.callHours</td>
                                    <td><input class="form-control" name="TotalHours" type="number" value="@item.callHours" /></td>
                                    <td><input class="form-check-input" name="IsHoliday" type="checkbox" value="@item.ShiftDate"></td>
                                    <td><input class="form-control" name="NumberOfHouseCalls" type="number" value="0" /></td>
                                    <td><input class="form-control" name="NumberOfPhoneConsults" type="number" value="0"></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info text-white">Submit</button>
                </div>
            </form>
        }
    </div>

    <div style="margin-left:20%" class="mb-3">
        <button class="btn btn-info text-white" onclick="toggleReceipt()">Add Reciept</button>
    </div>

    <div class="ct shadow mb-2 pb-2 pt-2 d-none" id="resheet">
        <div class="table-responsive">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th>Date</th>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Bill</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.timeSheetList)
                    {
                        var reimbursement = Model.reimbursements.FirstOrDefault(a => DateOnly.FromDateTime((DateTime)a.Date) == DateOnly.FromDateTime((DateTime)item.ShiftDate));

                        if (reimbursement != null)
                        {
                            <form asp-controller="Provider" asp-action="UpdateReceipt">
                            <tr>
                                <td>@item.ShiftDate.Value.ToString("MMM") @item.ShiftDate.Value.Day,@item.ShiftDate.Value.Year</td>

                                <td><input disabled name="Item" type="text" class="form-control dis-@reimbursement.ReimbursementId" value="@reimbursement.Item" /></td>
                                <td><input disabled name="Amount" type="number" class="form-control dis-@reimbursement.ReimbursementId" value="@reimbursement.Amount"></td>
                                <input type="hidden" name="ReimbursementId" value="@reimbursement.ReimbursementId">
                                <td>
                                        @reimbursement.File.Trim()
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-outline-info mx-1 edit-@reimbursement.ReimbursementId" onclick="edit(@reimbursement.ReimbursementId)">Edit</button>
                                        <button type="submit" class="btn btn-outline-info mx-1 cancel-@reimbursement.ReimbursementId d-none">Save</button>
                                        <button type="reset" class="btn btn-outline-info mx-1 cancel-@reimbursement.ReimbursementId d-none" onclick="cancel(@reimbursement.ReimbursementId)">Cancel</button>
                                        <a asp-controller="Provider" asp-action="DeleteReceipt" asp-route-id="@reimbursement.ReimbursementId" class="mx-1 edit-@reimbursement.ReimbursementId"><button type="button" class="btn btn-outline-info">Delete</button></a>
                                        <a href="~/Files/@reimbursement.File" target="_blank" class="mx-1 edit-@reimbursement.ReimbursementId"><button type="button" class="btn btn-outline-info mx-1">View</button></a>
                                    </div>

                                </td>

                            </tr>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Provider" asp-action="AddReceipt" enctype="multipart/form-data">
                            <tr>
                                <td>@item.ShiftDate.Value.ToString("MMM") @item.ShiftDate.Value.Day,@item.ShiftDate.Value.Year</td>
                                <input type="hidden" name="ShiftDate" value="@item.ShiftDate">
                                <input type="hidden" name="PhysicianId" value="@ViewBag.Id">
                                <td><input name="Item" type="text" class="form-control" /></td>
                                <td><input name="Amount" type="number" class="form-control"></td>
                                <td>
                                    <div class="input-group mb-3 mt-1">
                                        <input name="bill" type="file" class="form-control" id="file-picker">
                                        <button type="button" class="btn btn-info">
                                            <i class="bi bi-cloud-arrow-up"></i>
                                            Upload

                                        </button>
                                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                    </div>
                                </td>
                                <td><button type="submit" class="btn btn-outline-info">Submit</button></td>
                            </tr>
                            </form>
                        }

                    }

                </tbody>
            </table>

        </div>
    </div>

    <div class="d-flex justify-content-end" style="width:80%">
        <button type="button" class="btn btn-info text-white" onclick="finalize()"> Finalize </button>
        <input id="pid" value="@ViewBag.Id" type="hidden" />
        <input id="shiftdate" type="hidden" value="@Model.timeSheetList[0].ShiftDate">
    </div>
</body>
</html>


<script>
    function toggleReceipt() {
        if ($('#resheet').hasClass('d-none')) {
            $('#resheet').removeClass('d-none');
        }
        else {
            $('#resheet').addClass('d-none');
        }
    }

    function edit(temp) {
        $('.dis-' + temp).prop("disabled", false);
        $('.edit-' + temp).addClass('d-none');
        $('.cancel-' + temp).removeClass('d-none');
    }

    function cancel(temp) {
        $('.dis-' + temp).prop("disabled", true);
        $('.edit-' + temp).removeClass('d-none');
        $('.cancel-' + temp).addClass('d-none');
    }

    function finalize() {
        $.ajax({
            url: '/Provider/FinalizeTimeSheet',
            type: 'GET',
            data: {
                PhysicianId: $('#pid').val(),
                StartDate: $('#shiftdate').val()

            },

                success: function (res) {
                if (res) {
                    window.location.href = "/Provider/TimeSheet"

                }
                else {
                    window.location.href = "/Provider/BiWeeklySheet";
                }
            }

        });
    }


</script>
