@model List<HallodocServices.ModelView.TimeSheetListVM>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="~/css/adminsite/adminmyprofile.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
  



</head>
<body>
    <div class="sticky-top bg-white shadow">
        <header>
            <div class="d-flex d-lg-flex">
                <button type="button" class="btn btn-outline-info d-flex d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-list"></i></button>
            </div>
            <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 90px;"></div>
            <div class="right">
                <div class="intro mx-1"><p>Welcome:</p></div>
                <div class="s intro mx-1"><span><b>@ViewBag.Name</b></span></div>
                <div class="ilogout">
                    <button type="button" class="btn btn-outline-info"><i class="bi bi-box-arrow-right"></i></button>
                </div>
                <div class="Logout">
                    <button type="button" class="btn btn-outline-info mx-1">Logout</button>
                </div>
                <div class="theme mx-1" onclick="toggleTheme()"><img src="~/images/icons8-moon-symbol-25.png" alt="theme"></div>
            </div>
        </header>


        <div class="offcanvas offcanvas-start d-lg-none" style="width:50%" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Welcome,@ViewBag.Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body align-items-center nav-tabs p-0">


                <a class="nav-link mt-3 ps-2 " asp-controller="Provider" asp-action="ProviderDashBoard">DashBoard</a>


                <a class="nav-link  mt-3 ps-2 fw-semibold" style="background-color:#e5f8fd">Invoicing</a>



                <a class="nav-link  mt-3 ps-2 " asp-controller="Provider" asp-action="MySchedule">MySchedule</a>


                <a class="nav-link  mt-3 ps-2">My Profile</a>






            </div>
        </div>

        <ul class="nav nav-underline d-none d-lg-flex shadow" id="hide" style="padding-left: 2%; margin-bottom: 40px;">
            <li class="nav-item ">
                <a class="nav-link text-black" asp-controller="Provider" asp-action="ProviderDashBoard"><b>DashBoard</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black active"><b>Invoicing</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-black" asp-controller="Provider" asp-action="MySchedule"><b>My Schedule</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-black"><b>My Profile</b></a>
            </li>

        </ul>

    </div>

    <div class="he">
        <div class="he1 h4">
            <p>TimeSheet</p>
        </div>

    </div>

    <div class="ct shadow mb-2 pb-2 pt-2">
        <form asp-controller="Provider" asp-action="SubmitBiWeeklyList">
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>Date</th>
                            <th>On-Call Hours</th>
                            <th>Total Hours</th>
                            <th>Weekend/Holiday</th>
                            <th>Number of Housecalls</th>
                            <th>Number of Phone consults</th>
                        </tr>
                    </thead>
                    <tbody>


                        <input type="hidden" name="PhysicianId" value="@ViewBag.Id">
                        <input type="hidden" name="StartDate" value="@Model[0].ShiftDate">
                        <input type="hidden" name="EndDate" value="@Model[Model.Count()-1].ShiftDate">

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ShiftDate.Value.ToString("MMM") @item.ShiftDate.Value.Day,@item.ShiftDate.Value.Year</td>
                                <td>@item.callHours</td>
                                <td><input class="form-control" name="TotalHours" type="number" value="@item.callHours" /></td>
                                <td><input class="form-check-input" name="IsHoliday" type="checkbox" value="@item.ShiftDate"></td>
                                <td><input class="form-control" name="NumberOfHouseCalls" type="number" value="0" /></td>
                                <td><input class="form-control" name="NumberOfPhoneConsults" type="number" value="0"></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-info text-white">Submit</button>
        </form>
       </div>
       </body>
       </html>
