@model HallodocServices.ModelView.AdminProfile

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="~/css/adminsite/adminmyprofile.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>



</head>
<body>
    <header>
        <div class="d-flex d-lg-flex">
            <button type="button" class="btn btn-outline-info d-flex d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-list"></i></button>
        </div>
        <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 90px;"></div>
        <div class="right">
            <div class="intro"><p>Welcome:</p></div>
            <div class="s intro"><span><b>@Html.Raw(ViewBag.AdminName)</b></span></div>
            <div class="ilogout">
                <button type="button" class="btn btn-outline-info"><i class="bi bi-box-arrow-right"></i></button>
            </div>
            <div class="Logout">
                <button type="button" class="btn btn-outline-info">Logout</button>
            </div>
            <div class="theme"><img src="~/images/icons8-moon-symbol-25.png" alt="theme"></div>
        </div>
    </header>


    <div class="offcanvas offcanvas-start d-lg-none" style="width:40%" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body align-items-center nav-tabs">


            <a class="nav-link  text-black">DashBoard</a>

            <a class="nav-link text-black">Provider Location</a>


            <a class="nav-link border-dark text-black">My Profile</a>



            <a class="nav-link text-black">Providers</a>


            <a class="nav-link text-black">Partners</a>


            <a class="nav-link text-black border-black">Access</a>


            <a class="nav-link text-black">Records</a>



        </div>
    </div>

    <ul class="nav nav-underline  d-none d-lg-flex" id="hide" style="padding-left: 2%; margin-bottom: 40px;background-color: white;">
        <li class="nav-item">
            <a class="nav-link text-black" asp-controller="AdminSite" asp-action="AdminDashBoard"><b>DashBoard</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" asp-controller="AdminSite" asp-action="ProviderLocation"><b>Provider Location</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black" asp-controller="AdminSite" asp-action="AdminMyProfile" asp-route-adminid="2"><b>My Profile</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link active"><b>Providers</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black"><b>Partners</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black" asp-controller="AdminSite" asp-action="AdminAccountAccess"><b>Access</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-black"><b>Records</b></a>
        </li>

    </ul>

    <div class="he">
        <div class="he1 h4">
            <p>MyProfile</p>
        </div>
        <div class="he2">
            <button type="button" class="btn btn-outline-info" onclick="history.back()">&lt Back</button>
        </div>
    </div>

    <div class="ct shadow mb-2 pb-2 pt-2">

        <div class="h5">
            Account Information
        </div>
        <form asp-controller="AdminSite" asp-action="EditProviderAccountInformation">
            <div class="row mt-3">
                <div class="col-12  col-md-6 form-floating mt-2">
                    <input disabled type="text" class="form-control d1" id="UserName" placeholder="User Name" asp-for="UserName">
                    <label for="UserName">User Name</label>

                </div>
                <div class="col-12 col-md-6 form-floating mt-2">
                    <input asp-for="Password" type="text" class="form-control" id="Password" placeholder="Password">
                    <label for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                

        
                   
                    <input type="hidden" id="aid" asp-for="Id" />
                    <input type="hidden" id="pid" asp-for="AdminId" />

                
                <div class="mt-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-info text-white mx-1 e1" onclick="Edit1()">Edit</button>
                    <button type="submit" class="btn btn-info text-white mx-1 s1 d-none">Submit</button>
                    <button type="reset" class="btn btn-danger text-white mx-1 s1 d-none" onclick="Cancel1()">Cancel</button>
                    <button type="button" class="btn btn-outline-info mx-1" onclick="resetPassword(aid.value,Password.value)">Reset Password</button>
                </div>
            </div>
        </form>


        <div class="h5 mt-3">
            Physician Information
        </div>
        <form asp-controller="AdminSite" asp-action="EditPhysicianInformation">
            <div class="row mt-3">
                <div class="col-12 col-md-6 form-floating mt-2">
                    <input disabled asp-for="FirstName" type="text" class="form-control d2" id="FirstName" placeholder="Your First Name">
                    <label for="FirstName">Your First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 form-floating mt-2">
                    <input disabled asp-for="LastName" type="text" class="form-control d2" id="LastName" placeholder="Your Last Name">
                    <label for="LastName">Your Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>


                <div class="col-12 col-md-6 form-floating mt-2">
                    <input disabled asp-for="Email" type="email" class="form-control d2" id="Email" placeholder="Email address">
                    <label for="Email">Email Address</label>
                </div>
                <div class="col-12 col-md-6 form-floating mt-2">
                    <input disabled asp-for="Mobile" type="tel" class="form-control d2" id="patientMobileNumber" placeholder="">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>


                <div class="col-12 col-md-6 form-floating mt-2">
                    <input disabled asp-for="MedicalLicense" type="text" class="form-control d2" id="Email" placeholder="Medical License">
                    <span asp-validation-for="MedicalLicense" class="text-danger"></span>
                    <label for="Email">Medical License</label>
                </div>
                <div class="col-12 col-md-6 form-floating mt-2">
                    <input asp-for="NpiNumber" type="text" class="form-control d2" id="npiNumber" placeholder="NPI Number">
                    <span asp-validation-for="NpiNumber" class="text-danger"></span>
                    <label for="npiNumber">NPI Number</label>

                </div>

                

                <div class="col-12 col-md-6 d-flex flex-wrap mt-2">
                    @foreach (var item in Model.regions)
                    {
                        string check = Model.WorkingRegions.Contains(item.RegionId) ? "checked" : "";
                        <div class="form-check mx-1">
                            <input class="form-check-input" name="checkBoxes" type="checkbox" value="@item.RegionId" id="flexCheckDefault" @check>
                            <label class="form-check-label" for="flexCheckDefault">
                                @item.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
            <input type="hidden" id="aid" asp-for="Id" />
            <input type="hidden" id="pid" asp-for="AdminId" />
            <div class="mt-2 d-flex justify-content-end">
                <button type="button" class="btn btn-info text-white mx-1">Enter payRate</button>
                <button type="button" class="btn btn-info text-white mx-1 e2" onclick="Edit2()">Edit</button>
                <button type="submit" class="btn btn-info text-white mx-1 s2 d-none">Submit</button>
                <button type="reset" class="btn btn-danger text-white mx-1 s2 d-none" onclick="Cancel2()">Cancel</button>

            </div>


        </form>


        <div class="h5 mt-3">
            Mailing and Billing Information
        </div>
        <form>
            <div class="row mt-2">
                <div class="col-12  col-md-6 form-floating mt-2">
                    <input disabled asp-for="address1" type="text" class="form-control d3" id="Address1" placeholder="Address1">
                    <label for="Address1">Address 1</label>
                    <span asp-validation-for="address1" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 form-floating mt-2">
                    <input disabled asp-for="address2" type="text" class="form-control d3" id="Address2" placeholder="Address2">
                    <label for="Address2">Address 2</label>
                    <span asp-validation-for="address2" class="text-danger"></span>
                </div>


                <div class="col-12  col-md-6 form-floating mt-2">
                    <input disabled asp-for="City" type="text" class="form-control d3" id="city" placeholder="city">
                    <label for="city">city</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 form-floating mt-2">
                    <select disabled id="state" class="form-select d3" aria-label="state" asp-for="regionId">
                        <option value="">Select Region</option>
                        @foreach (var item in Model.regions)
                        {
                            <option value="@item.RegionId">@item.Name</option>
                        }
                    </select>
                    <label for="role">State</label>

                </div>


                <div class="col-12  col-md-6 form-floating mt-2">
                    <input disabled asp-for="ZipCode" type="text" class="form-control d3" id="zipcode" placeholder="zipcode">
                    <label for="zipcode">zipcode</label>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 form-floating mt-2">
                    <input disabled asp-for="Mobile" type="tel" class="form-control d3" id="patientMobileNumber2" placeholder="">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>

            </div>
            <div class="mt-2 d-flex justify-content-end">

                <button type="button" class="btn btn-info text-white mx-1 e3" onclick="Edit3()">Edit</button>
                <button type="button" class="btn btn-info text-white mx-1 s3 d-none">Submit</button>
                <button type="reset" class="btn btn-danger text-white mx-1 s3 d-none" onclick="Cancel3()">Cancel</button>

            </div>
        </form>
        <div class="h5 mt-3">
            Provider Profile
        </div>

        <form>
            <div class="row mt-2">
                <div class="col-12  col-md-6 form-floating mt-2">
                    <input disabled asp-for="BusinessName" type="text" class="form-control d4" id="zipcode" placeholder="Business Name">
                    <label for="zipcode">Business Name</label>
                    <span asp-validation-for="BusinessName" class="text-danger"></span>
                </div>
                <div class="col-12  col-md-6 form-floating mt-2">
                    <input disabled asp-for="BusinessWebsite" type="text" class="form-control d4" id="zipcode" placeholder="Business Website">
                    <label for="zipcode">Business Website</label>
                    <span asp-validation-for="BusinessWebsite" class="text-danger"></span>
                </div>

                <div class="col-12  col-md-6 mt-2">
                    <div class="input-group ">
                        <input disabled asp-for="Photo" type="file" class="form-control d4" id="file-picker">
                        <button type="button" class="btn btn-info text-white">
                            <i class="bi bi-cloud-arrow-up"></i>
                            Upload

                        </button>
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                </div>
                <div class="col-8 col-md-4 mt-2 d-flex">
                    <div class="input-group mx-1">
                        <input disabled type="file" class="form-control d4" id="file-picker">
                        <button type="button" class="btn btn-info text-white">
                            <i class="bi bi-cloud-arrow-up"></i>
                            Upload

                        </button>

                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                    <button disabled type="button" class="btn btn-info text-white mx-1 d4" onclick="openPad()">Create</button>

                </div>
                <div class="col-12 d-flex justify-content-end">
                    <div id="signPad"></div>
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-end">

                <button type="button" class="btn btn-info text-white mx-1 e4" onclick="Edit4()">Edit</button>
                <button type="button" class="btn btn-info text-white mx-1 s4 d-none">Submit</button>
                <button type="reset" class="btn btn-danger text-white mx-1 s4 d-none" onclick="Cancel4()">Cancel</button>

            </div>
        </form>


        <hr>
        <div class="h5 mt-2">
            OnBoarding
        </div>
        @if(Model.IsAgreementDoc)
        {
            <div class="d-flex justify-content-between mt-2" style="padding-right:10%">
                <div class="form-check mx-1">
                    <input class="form-check-input" name="documents" type="checkbox" value="1" id="flexCheckDefault" @(Model.IsAgreementDoc ? "checked" : "")>
                    <label class="form-check-label" for="flexCheckDefault">
                        Independent Contractor Agreement
                    </label>
                </div>


                <button type="button" class="btn btn-info text-white mx-1">View</button>

            </div>
        }

       @if (Model.IsBackGroundDoc)
            {
            <div class="d-flex justify-content-between mt-1" style="padding-right:10%">
                <div class="form-check mx-1">
                <input class="form-check-input" name="documents" type="checkbox" value="2" id="flexCheckDefault" @(Model.IsBackGroundDoc ? "checked" : "")>
                <label class="form-check-label" for="flexCheckDefault">
                    Background Check
                </label>
            </div>
            
            
                <button type="button" class="btn btn-info text-white mx-1">View</button>
            
        </div>
        }
        @if (Model.IsTrainingDoc)
        {
            <div class="d-flex me-4 mt-1" style="padding-right:10%">
                <div class="form-check mx-1">
                <input class="form-check-input" name="documents" type="checkbox" value="3" id="flexCheckDefault" @(Model.IsTrainingDoc ? "checked" : "")>
                <label class="form-check-label" for="flexCheckDefault">
                    HPAA Compliance
                </label>
            </div>
            <div>
                
                
                    <a href="~/Files/DrAgnish.png" target="_blank"> <button type="button" class="btn btn-info text-white mx-1">View</button> </a>
                
            </div>
            
        </div>
        }
        @if (Model.IsNonDisclosureDoc)
            {
            <div class="d-flex mt-1" style="padding-right:10%">
                <div class="form-check me-4">
                <input class="form-check-input" name="documents" type="checkbox" value="4" id="flexCheckDefault" @(Model.IsNonDisclosureDoc ? "checked" : "")>
                <label class="form-check-label" for="flexCheckDefault">
                    Non Disclosure Agreement
                </label>
            </div>
       
            
                <button type="button" class="btn btn-info text-white mx-1">View</button>
            
        </div>
        }
        <hr>

        <div class="d-flex justify-content-end mt-1 d-flex mb-2">
            <button type="submit" class="btn btn-info mx-1 text-white">Save</button>
            <button type="submit" class="btn btn-danger mx-1 text-white">Delete Account</button>

        </div>

    </div>


    <script>

        function openPad() {
            $("#signPad").html("<canvas class='border border-1 rounded-3' id='signature-pad' width='250' height='160'></canvas>");
            canvas = document.getElementById('signature-pad');
            signaturePad = new SignaturePad(canvas);
        }

        function Edit1() {
            $('.d1').prop('disabled', false);
            $('.e1').addClass('d-none');
            $('.s1').removeClass('d-none');

        }

        function Cancel1() {
            $('.d1').prop('disabled', true);
            $('.e1').removeClass('d-none');
            $('.s1').addClass('d-none');
        }

        function Edit2() {
            $('.d2').prop('disabled', false);
            $('.e2').addClass('d-none');
            $('.s2').removeClass('d-none');

        }

        function Cancel2() {
            $('.d2').prop('disabled', true);
            $('.e2').removeClass('d-none');
            $('.s2').addClass('d-none');
        }

        function Edit3() {
            $('.d3').prop('disabled', false);
            $('.e3').addClass('d-none');
            $('.s3').removeClass('d-none');

        }

        function Cancel3() {
            $('.d3').prop('disabled', true);
            $('.e3').removeClass('d-none');
            $('.s3').addClass('d-none');
        }

        function Edit4() {
            $('.d4').prop('disabled', false);
            $('.e4').addClass('d-none');
            $('.s4').removeClass('d-none');

        }

        function Cancel4() {
            $("#signPad").html("");
            $('.d4').prop('disabled', true);
            $('.e4').removeClass('d-none');
            $('.s4').addClass('d-none');
        }

        function resetPassword(id, password) {
            $.ajax({
                url: '/Provider/ProviderResetPassword',
                type: 'GET',
                data: {
                    Id: id,
                    Password: password
                   
                },
                success: function (res) {
                    window.location.href = res.redirect;
                },
                error: function(err)
                {
                    console.log(err);
                }
            });
        }

    </script>

</body>
</html>