@model HallodocServices.ModelView.AdminDashBoard



<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/adminsite/admindashboard.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/getphysiciansbyregion.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="~/js/checkstatus.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/validationAndIntegration.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <script>
        function toggle(temp) {
            $(".cs").css("display", "none");
            $(".bt").removeClass("shadow bg-primary bg-success bg-danger bg-info indigo text-white border-0");
            
           
           
            switch (temp) {

                case 1: document.getElementById("newstate").style.display = "block";
                    $(".ad").css("display", "block");
                    $(".ns").addClass("shadow bg-primary text-white border-0");
                        cleartoggle();
                        GetStatus(temp,1,0);
                        

                        break;
                case 2: document.getElementById("pendingstate").style.display = "block";
                    $(".ad1").css("display", "block");
                    $(".ps").addClass("shadow bg-info text-white border-0");
                    cleartoggle();
                    GetStatus(temp,1,0);
                    break;
                case 3: document.getElementById("activestate1").style.display = "block";
                    $(".ad2").css("display", "block");
                    $(".as").addClass("shadow bg-success text-white border-0");
                    cleartoggle();
                    GetStatus(temp,1,0);
                    break;
                case 4: document.getElementById("concludestate").style.display = "block";
                    $(".ad3").css("display", "block");
                    $(".cos").addClass("shadow bg-danger text-white border-0");
                    cleartoggle();
                    GetStatus(temp,1,0);
                    break;
                case 5: document.getElementById("toclosestate").style.display = "block";
                    $(".ad4").css("display", "block");
                    $(".tcs").addClass("shadow bg-info text-white border-0");
                    cleartoggle();
                    GetStatus(temp,1,0);
                    break;
                case 6: document.getElementById("unpaidstate").style.display = "block";
                    $(".ad5").css("display", "block");
                    $(".ups").addClass("shadow indigo text-white border-0");
                    cleartoggle();
                    GetStatus(temp,1,0);
                    break;
                default: document.getElementById("newstate").style.display = "block";
                    $(".ad").css("display", "block");
                    $(".ns").addClass("shadow border-0");
                    cleartoggle();
                    GetStatus(temp,1,0);
                    break;

            }

          

        }
    </script>
   
    

    <title>Document</title>
</head>
<body>
    @if (TempData["success"] != null)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.success('@TempData["success"]');
        </script>

    }

    @if (TempData["Order"] != null)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.success('@TempData["Order"]');
        </script>

    }
    @if (TempData["Assign"] != null)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.success('@TempData["Assign"]');
        </script>

    }
    @if (TempData["Transfer"] != null)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.success('@TempData["Transfer"]');
        </script>

    }
    @if (TempData["Cancel"] != null)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.success('@TempData["Cancel"]');
        </script>

    }
    @if (TempData["Block"] != null)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.success('@TempData["Block"]');
        </script>

    }
    @if (TempData["Clear"] != null)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.success('@TempData["Clear"]');
        </script>

    }
   
    <div class="modal fade" id="ClearCase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <img src="~/images/Screenshot 2024-01-19 160841.png" alt="alert">
                    <div class="h1">Information</div>
                    <div style="text-align: left;">
                        While submitting a request you must provide the correct information about the patient or the resposibly party.
                        Failure to provide the correct email and phone will delay service or be declined.
                    </div>
                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <input type="hidden" id="reqforclearcase" />
                    <button type="button" class="btn btn-secondary" onclick="clearCase(reqforclearcase.value)">clear</button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="modal fade" id="sendlink" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Send Mail to Patient For Submitting a Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="FirstNameForLink" placeholder="First Name">
                        <label for="FirstNameForLink">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="LastNameForLink" placeholder="Last Name">
                        <label for="LastNameForLink">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="MobileForLink" placeholder="Phone Number">
                        <label for="MobileForLink">Phone Number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="EmailForLink" placeholder="Email">
                        <label for="EmailForLink">Email</label>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-info text-white mx-1" onclick="sendLink(FirstNameForLink.value,LastNameForLink.value,EmailForLink.value)">Send</button>
                        <button type="button" class="btn btn-outline-info mx-1" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
   
    <div class="modal fade" id="dtv" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Request DTV Support</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="removeValidationTransfer()"></button>
                </div>
                <form asp-controller="AdminSite" asp-action="DtvSupport">
                    <div class="modal-body">
                        <p class="mt-2"> To all unscheduled Physicians: We are short on coverage and needs additional support On Call to respond to Requests.</p>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="desc" style="height: 100px" asp-for="Description"></textarea>
                            <label for="desc">Description</label>
                            <span asp-validation-for="Description" class="text-danger" id="tdes"></span>


                        </div>
                        <div class="d-flex mt-2" style="justify-content:end">
                            <button type="submit" class="btn btn-info text-white">Submit</button>
                            <button type="reset" class="btn btn-outline-info" data-bs-dismiss="modal" onclick="removeValidationTransfer()">Cancel</button>
                        </div>





                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="sticky-top bg-white shadow">
    <header>
        <div class="d-flex d-lg-flex">
            <button type="button" class="btn btn-outline-info d-flex d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-list"></i></button>
        </div>
        <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 90px;"></div>
        <div class="right">
            <div class="intro mx-1"><p>Welcome:</p></div>
            <div class="s intro mx-1"><span><b>@ViewBag.Name</b></span></div>
            <div class="ilogout">
              <a asp-controller="AdminSite" asp-action="AdminLogout">  <button type="button" class="btn btn-outline-info"><i class="bi bi-box-arrow-right"></i></button> </a>
            </div>
            <div class="Logout">
                    <a asp-controller="AdminSite" asp-action="AdminLogout"><button type="button" class="btn btn-outline-info mx-1">Logout</button> </a>
            </div>
            <div class="theme mx-1" onclick="toggleTheme()"><img src="~/images/icons8-moon-symbol-25.png" alt="theme"></div>
        </div>
    </header>


       

    <div class="offcanvas offcanvas-start d-lg-none" style="width:40%" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Welcome,@ViewBag.Name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body align-items-center nav-tabs p-0">


                <a class="nav-link mt-3 ps-2 fw-semibold" style="background-color:#e5f8fd">DashBoard</a>


                <a class="nav-link  mt-3 ps-2" asp-controller="AdminSite" asp-action="ProviderLocation">Provider Location</a>

                <a class="nav-link  mt-3 ps-2" asp-controller="AdminSite" asp-action="AdminMyProfile">
                    My Profile
                    </a>


                    <a class="nav-link  mt-3 ps-2 dropdown" data-bs-toggle="dropdown">Providers</a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="AdminProviderInformation">Provider</a></li>
                        <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="Scheduling">Scheduling</a></li>
                        <li><a class="dropdown-item">Invoicing</a></li>
                    </ul>

                <a class="nav-link  mt-3 ps-2" asp-controller="AdminSite" asp-action="ProfessionMenu">Partners</a>


                <a class="nav-link  mt-3 ps-2" asp-controller="AdminSite" asp-action="AdminAccountAccess">Access</a>


                <a class="nav-link  mt-3 ps-2" data-bs-toggle="dropdown">Records</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="SearchRecord">Search Records</a></li>
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="PatientHistory">Patient Records</a></li>
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="EmailLogs">Email Logs</a></li>
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="SMSLogs">SMS Logs</a></li>
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="BlockedHistory">Blocked History</a></li>
                </ul>






        </div>
    </div>

        <ul class="nav nav-underline d-none d-lg-flex" id="hide" style="padding-left: 2%; margin-bottom: 40px;">
            <li class="nav-item ">
                <a class="nav-link active "><b>DashBoard</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-controller="AdminSite" asp-action="ProviderLocation"><b>Provider Location</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-black" asp-controller="AdminSite" asp-action="AdminMyProfile"><b>My Profile</b></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link text-black btn" data-bs-toggle="dropdown"><b>Providers</b></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="AdminProviderInformation">Provider</a></li>
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="Scheduling">Scheduling</a></li>
                    <li><a class="dropdown-item">Invoicing</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link text-black" asp-controller="AdminSite" asp-action="ProfessionMenu"><b>Partners</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-black" asp-controller="AdminSite" asp-action="AdminAccountAccess"><b>Access</b></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link text-black btn" data-bs-toggle="dropdown"><b>Records</b></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="SearchRecord">Search Records</a></li>
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="PatientHistory">Patient Records</a></li>
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="EmailLogs">Email Logs</a></li>
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="SMSLogs">SMS Logs</a></li>
                    <li><a class="dropdown-item" asp-controller="AdminSite" asp-action="BlockedHistory">Blocked History</a></li>
                </ul>
            </li>

        </ul>

    </div>


    <div class="mainct">
       
        <div class="row container-fluid" style="margin:0px; padding:0px;">
            <div class="col-4 col-lg-2 b1 ">
                <button class="bt btn w-100 h-100 shadow ns bg-primary text-white border-0" onclick="toggle(1)">
                    <div>
                        <div class="d-flex">
                            <div class="ismall"><strong><i class="bi1 bi bi-plus-circle-dotted"></i> New</strong></div>
                        </div>
                        <div class="ismall"><strong>@Model.NewCount</strong></div>
                    </div>
                </button>
                <div class="d-flex w-100" style="justify-content:center">
                    <div class="arrow-down  cs ad" style="border-top: 12px solid #0d6efd;"></div>
                    </div>
            </div>
           
            <div class="col-4 col-lg-2 b1">
                <button class="bt btn w-100 h-100 ps" onclick="toggle(2)">
                    <div>
                        <div class="d-flex">
                            <div class="ismall"><strong><i class="bi1 bi bi-hourglass-split"></i> PENDING</strong></div>
                        </div>
                        <div class="ismall"><strong>@Model.PendingCount</strong></div>
                    </div>
                </button>
                <div class="d-flex w-100" style="justify-content:center"> <div class="arrow-down cs ad1" style="border-top: 12px solid #0dcaf0;display:none"></div></div>
            </div>

            <div class="col-4 col-lg-2 b1">
                <button class="bt btn w-100 h-100 as" onclick="toggle(3)">
                    <div>
                        <div class="d-flex">
                            <div class="ismall"><strong><i class="bi1 bi bi-check2-circle"></i> ACTIVE</strong></div>
                        </div>
                        <div class="ismall"><strong>@Model.ActiveCount</strong></div>
                    </div>
                </button>
                <div class="d-flex w-100" style="justify-content:center">
                    <div class="arrow-down  cs ad2" style="border-top: 12px solid #198754;display:none"></div>
                    </div>
            </div>

            <div class="col-4 col-lg-2 b1">
                <button class="bt btn  w-100 h-100 cos" onclick="toggle(4)">
                    <div>
                        <div class="d-flex">
                            <div><strong class="ismall"><i class="bi1 bi bi-clock-history"></i> CONCLUDE</strong></div>
                        </div>
                        <div class="ismall"><strong>@Model.ConcludeCount</strong></div>
                    </div>

                </button>
                <div class="d-flex w-100" style="justify-content:center">
                    <div class="d-flex w-100" style="justify-content:center">
                        <div class="arrow-down cs ad3" style="border-top: 12px solid #dc3545;display:none"></div>
                        </div>
                    </div>
            </div>

            <div class="col-4 col-lg-2 b1">
                <button class="bt btn w-100 h-100 tcs" onclick="toggle(5)">
                    <div>
                        <div class="d-flex">
                            <div class="ismall"><strong><i class="bi1 bi bi-alarm"></i> TO CLOSE</strong></div>
                        </div>
                        <div class="ismall"><strong>@Model.ToCloseCount</strong></div>
                    </div>

                </button>
                <div class="d-flex w-100" style="justify-content:center">
                    <div class="arrow-down cs ad4" style="border-top: 12px solid #0dcaf0;display:none"></div>
                    </div>
            </div>

            <div class="col-4 col-lg-2 b1">
                <button class="bt btn w-100 h-100 ups" onclick="toggle(6)">
                    <div>
                        <div class="d-flex">
                            <div class="ismall"><strong><i class="bi1 bi bi-coin"></i> UNPAID </strong></div>
                        </div>
                        <div class="ismall"><strong>@Model.UnPaidCount </strong></div>
                    </div>

                </button>
                <div class="d-flex w-100" style="justify-content:center">
                    <div class="arrow-down  cs ad5" style="border-top: 12px solid  #6610f2;display:none"></div>
                    </div>
            </div>

        </div>

        <div class="d-flex" style="margin-top: 50px; margin-bottom: 25px;">
            <div class="d-flex">
                <h5>Patients</h5><h6 id="statusname">(new)</h6>
            </div>
            <div class="d-flex" style="margin-left: auto;">
                <button type="button" class="btn btn-primary d-flex d-lg-none bt1 mx-1" data-bs-toggle="modal" data-bs-target="#sendlink"><i class="bi bi-link"></i></button>
                <button type="button" class="btn btn-primary d-none d-lg-flex bt1 mx-1" data-bs-toggle="modal" data-bs-target="#sendlink"><i class="bi bi-link"></i>Send Link</button>
                 <a asp-controller="AdminSite" asp-action="CreateRequest"> <button type="button" class="btn btn-primary d-flex d-lg-none bt1 mx-1"><i class="bi bi-pencil"></i></button> </a>
                <a asp-controller="AdminSite" asp-action="CreateRequest">  <button type="button" class="btn btn-primary d-none d-lg-flex bt1 mx-1"><i class="bi bi-pencil"></i>Create Requests</button> </a>
                <button type="button" class="btn btn-primary d-flex d-lg-none bt1 mx-1" onclick="ExportData()"><i class="bi bi-arrow-90deg-right"></i></button>
                <button type="button" class="btn btn-primary d-none d-lg-flex bt1 mx-1" onclick="ExportData()"><i class="bi bi-arrow-90deg-right"></i>Export</button>
                 <a asp-controller="AdminSite" asp-action="WriteDataToExcel"> <button type="button" class="btn btn-primary d-flex d-lg-none bt1 mx-1"><i class="bi bi-arrow-up-right-square"></i></button> </a>
                <a asp-controller="AdminSite" asp-action="WriteDataToExcel"> <button type="button" class="btn btn-primary d-none d-lg-flex bt1 mx-1"><i class="bi bi-arrow-up-right-square"></i>Export All</button> </a>
                <button type="button" class="btn btn-primary d-flex d-lg-none mx-1" data-bs-toggle="modal" data-bs-target="#dtv" ><i class="bi bi-person"></i></button>
                <button type="button" class="btn btn-primary d-none d-lg-flex mx-1" data-bs-toggle="modal" data-bs-target="#dtv"><i class="bi bi-person"></i>Request DTV Support</button>

            </div>
        </div>
        <div class="d-flex row" style="justify-content: space-between;">
            <div class="d-flex col-12 col-lg-3">
                <div class="input-group mb-3 input-with-icon">
                    <span class="icon input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                    <input type="text" oninput="changestring(this.value)" class="form-control" style="padding-left:5px;" placeholder="Search Patients" id="customSearch" />

                </div>
            </div>
            <div class="col-12 col-lg-3">
                <select class="form-select form-select" aria-label="Small select example" onchange="changeregion(this.value)">
                    <option value="0">Search Regions</option>
                    <option value="1">MaryLand</option>
                    <option value="2">District Of Columbia</option>
                    <option value="3">New York</option>
                    <option value="4">Virginia</option>
                </select>
            </div>


            <div class="d-flex col-8 col-lg-6 t">
                <div class="pd">
                    <button type="button" class="btn btn-outline-dark d-none d-lg-flex mx-1" onclick="changetype(0)">All</button>
                </div>
                <div class="pd mx-1" onclick="changetype(1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="6" cy="6" r="6" />
                    </svg>
                    Patient
                </div>
                <div class="pd mx-1" onclick="changetype(2)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="yellow" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="6" cy="6" r="6" />
                    </svg>
                    Family/Freind
                </div>
                <div class="pd mx-1" onclick="changetype(4)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="6" cy="6" r="6" />
                    </svg>
                    Business
                </div>
                <div class="pd mx-1" onclick="changetype(3)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="blue" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="6" cy="6" r="6" />
                    </svg>
                    Concierge
                </div>
                
            </div>
        </div>

        <div class="cs" id="newstate">
        @Html.Partial("~/Views/Shared/_NewState.cshtml",Model.AdminNewState)
        </div>
        <div class="cs" id="pendingstate" style="display:none">
            @Html.Partial("~/Views/Shared/_PendingState.cshtml",Model.AdminNewState)
        </div>
        <div class="cs" id="concludestate" style="display:none">
            @Html.Partial("~/Views/Shared/_ConcludeState.cshtml",Model.AdminNewState)
        </div>
        <div class="cs" id="activestate1" style="display:none">
            @Html.Partial("~/Views/Shared/_ActiveState.cshtml",Model.AdminNewState)
        </div>
        <div class="cs" id="toclosestate" style="display:none">
            @Html.Partial("~/Views/Shared/_ToCloseState.cshtml",Model.AdminNewState)
        </div>
        <div class="cs" id="unpaidstate" style="display:none">
            @Html.Partial("~/Views/Shared/_UnPaidState.cshtml",Model.AdminNewState)
        </div>

       


    </div>
   <script>
        function ExportData() {
            var status = window.sessionStorage.getItem("status");
            var typeId = window.sessionStorage.getItem("typeid");
            var region = window.sessionStorage.getItem("regionid");
            var searchstr = window.sessionStorage.getItem("name");
            var pagenumber = window.sessionStorage.getItem("currentpage");
            $.ajax({
                url: '/AdminSite/ExportData',
                type: 'POST',
                xhrFields: {
                    responseType: 'arraybuffer'
                },
                data: {
                    statusid: status,
                    typeId: typeId,
                    regionId: region,
                    searchstr: searchstr,
                    currentPage: pagenumber
                },
                success: function (res) {
                    console.log(res);
                    const a = document.createElement('a');
                    var unit8array = new Uint8Array(res);
                    a.href = window.URL.createObjectURL(new Blob([unit8array],
                        { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' }));
                    a.download = 'Export.xlsx';
                    a.click();
                },

            });
        }

        function sendLink(firstName,lastName,email)
        {
            $.ajax({
                url: '/AdminSite/SendLink',
                type: 'GET',
                data: {
                    FirstName: firstName,
                    LastName: lastName,
                    Email: email
                },

                success: function(res) 
                {
                    window.location.reload();
                }

            });
        }

        function removeValidationTransfer() {
            $('#tdes').text("");
        }
   </script>
   
</body>
</html>