@model List<HallodocServices.ModelView.SchedulingList>

<div class="modal fade" id="viewShift" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00BCE9">
                <h5 class="modal-title text-white">View Shift</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body">

                <div class="mt-3 form-floating">
                    <input disabled type="text" class="form-control dropdown" id="regionname">
                    <label for="regionname">Region</label>
                    </div>

                    <div class="mt-3 form-floating">
                        <input disabled type="text" class="form-control dropdown" id="pname">
                        <label for="pname">Physician</label>
                    </div>
                <div class="mt-3 form-floating">
                    <input disabled type="date" class="form-control dis" id="shiftdate">
                    <label for="shiftdate">ShiftDate</label>
                   
                </div>
                <div class="row mt-3">
                    <div class="col-6 form-floating">
                        <input disabled  type="time" class="form-control dis" step="1" id="starttime">
                        <label for="starttime">Start</label>
                       
                    </div>
                    <div class="col-6 form-floating">
                        <input disabled type="time" class="form-control dis" step="1" id="endtime" placeholder="End">
                        <label for="endtime">End</label>
                       
                    </div>
                </div>
                <input type="hidden" id="shiftdetailid"/>
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-info text-white mx-1" data-bs-dismiss="modal" onclick="removetoggle()">Return</button>
                    <button type="button" class="btn btn-info  text-white mx-1" id="edit" onclick="toggle()">Edit</button>
                    <button type="button" class="btn btn-info d-none text-white mx-1" id="save" onclick="editViewShift()">Save</button>
                    <button type="button" class="btn btn-danger mx-1" onclick="deleteViewShift(shiftdetailid.value)">Delete</button>

                </div>
            </form>

        </div>
    </div>
</div>

<script>

   
   

</script>

<div class="table-responsive mt-4 d-none d-md-flex">
    <table class="table table-bordered">
        <thead class="table-dark text-center">
            <tr>
                <th>STAFF</th>
                <th>12A</th>
                <th>1A</th>
                <th>2A</th>
                <th>3A</th>
                <th>4A</th>
                <th>5A</th>
                <th>6A</th>
                <th>7A</th>
                <th>8A</th>
                <th>9A</th>
                <th>10A</th>
                <th>11A</th>
                <th>12P</th>
                <th>1P</th>
                <th>2P</th>
                <th>3P</th>
                <th>4P</th>
                <th>5P</th>
                <th>6P</th>
                <th>7P</th>
                <th>8P</th>
                <th>9P</th>
                <th>10P</th>
                <th>11P</th>
            </tr>
        </thead>
        <tbody class="table text-center">
            <tr>
                <td>Covereage</td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
                <td class="bg-pink"></td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.GetPhysicians.FirstName,@item.GetPhysicians.LastName</td>
                    @for(int i = 0; i<24; i++)
                    {

                        var shift = item.GetShiftDetail.FirstOrDefault(a => a.StartTime.Hour == i);
                        bool status = shift == null ? false : true;
                        if (status)
                        {
                            if (shift.StartTime.Minute > 0 && shift.EndTime.Minute>0)
                            {
                               
                                int diff = (shift.EndTime.Hour - shift.StartTime.Hour + 1);
                                float marginleft = ((shift.StartTime.Minute) * 100) / (60 * diff);
                                float marginright = ((60-shift.EndTime.Minute) * 100) / (60 * diff);
                                float width = (100 - marginleft - marginright);
                                string time = @shift.StartTime + "-" + shift.EndTime;
                                string shift1 = item.GetShiftDetail.FirstOrDefault(a => a.Status == 1) == null ? "bg-success" : "bg-pink";
                                <td class="p-0" colspan="@diff"><div class="@shift1" data-bs-toggle="modal" data-bs-target="#viewShift" style="margin-left:@marginleft%;width:@width%;margin-right:@marginright%;height:40px" onclick="viewShift(@shift.ShiftDetailId)"></div></td>

                                for(int j = 1;j<diff;j++)
                                {
                                    i++;
                                }

                            }

                           else if (shift.StartTime.Minute > 0 && shift.EndTime.Minute == 0)
                            {

                                int diff = (shift.EndTime.Hour - shift.StartTime.Hour);
                                float marginleft = ((shift.StartTime.Minute) * 100) / (60 * diff);
                                float width = (100 - marginleft);
                                string time = @shift.StartTime + "-" + shift.EndTime;
                                string shift1 = item.GetShiftDetail.FirstOrDefault(a => a.Status == 1) == null ? "bg-success" : "bg-pink";
                                <td class="p-0" colspan="@diff"><div class="@shift1" data-bs-toggle="modal" data-bs-target="#viewShift" style="margin-left:@marginleft%;width:@width%;height:40px" onclick="viewShift(@shift.ShiftDetailId)"></div></td>

                                for (int j = 1; j < diff; j++)
                                {
                                    i++;
                                }

                            }

                            else if (shift.StartTime.Minute == 0 && shift.EndTime.Minute > 0)
                            {

                                int diff = (shift.EndTime.Hour - shift.StartTime.Hour + 1);
                                float marginright = ((60-shift.EndTime.Minute) * 100) / (60 * diff);
                                float width = (100 - marginright);
                                string time = @shift.StartTime + "-" + shift.EndTime;
                                string shift1 = item.GetShiftDetail.FirstOrDefault(a => a.Status == 1) == null ? "bg-success" : "bg-pink";
                                <td class="p-0" colspan="@diff"><div class="@shift1" data-bs-toggle="modal" data-bs-target="#viewShift" style="width:@width%;margin-right:@marginright%;height:40px" onclick="viewShift(@shift.ShiftDetailId)"></div></td>

                                for (int j = 1; j < diff; j++)
                                {
                                    i++;
                                }

                            }

                            else
                            {
                                int diff = (shift.EndTime.Hour - shift.StartTime.Hour);
                                string time = @shift.StartTime + "-" + shift.EndTime;
                                string shift1 = item.GetShiftDetail.FirstOrDefault(a => a.Status == 1) == null ? "bg-success" : "bg-pink";
                                <td class="p-0" colspan="@diff"><div class="@shift1" data-bs-toggle="modal" data-bs-target="#viewShift" style="height:40px" onclick="viewShift(@shift.ShiftDetailId)"></div></td>


                                for (int j = 1; j < diff; j++)
                                {
                                    i++;
                                }

                            }

                            
                        }
                        else
                        {
                            <td class=""></td>
                        }
                    }
                   
                </tr>
            }
           
        </tbody>
    </table>
</div>

<div class="table-responsive mt-4 d-flex d-md-none">
    <table class="table table-bordered">
      <thead>
          <tr>
              <th class="w-25"></th>
              <th>
                  <div class="d-block">
                      <div id="mMonth" class="text-info"></div>
                      <div id="mDay" class="text-info"></div>
                  </div>
              </th>
            </tr>

      </thead>
      <tbody>
          @for(int i = 0; i <24; i++)
            {
                <tr>
                    @if(i == 0)
                    {
                        <td>12:00 AM</td>
                    }
                    else if(i == 12)
                    {
                        <td>12:00 PM</td>
                    }
                    else
                    {
                        <td>@(i > 11 ? i - 12 : i):00 @(i > 10 ? "PM" : "AM")</td>
                    }

                <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#shiftdate').attr('min', maxDate);
    });
</script>