@model List<HallodocServices.ModelView.PatientDashBoard>
@using Microsoft.AspNetCore.Mvc

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width==device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link href="~/css/patient/patientdashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function toggle() {
            if (document.getElementById('hide').classList.contains('d-none')) {
                document.getElementById('hide').classList.remove('d-none');

            }
            else {
                document.getElementById('hide').classList.add('d-none');
            }
        }
    </script>

    <title>Document</title>
</head>
<body>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: aqua;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; justify-content: center;">
                        <a style="text-decoration:none" asp-controller="Patient" asp-action="SubmitMe"> <button  type="button" class="btn btn-info">me</button> </a>
                     <a style="text-decoration:none" asp-controller="Patient" asp-action="SubmitSomeOne">    <button type="button" class="btn btn-outline-info">Someone else</button> </a>
                    </div>
                    <br>
                    <div style="display: flex;">
                        <button type="button" class="btn btn-info">Continue</button>
                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <header class="shadow">
        <div class="imenu">
            <button type="button" class="btn btn-outline-info" onclick="toggle()"><i class="bi bi-list"></i></button>
        </div>
        <div class="img1"><img src="~/images/Fig56. Patient site 1.png" alt="hallodoc" style="height: 90px;"></div>
        <div class="right">
            <div class="intro"><p></p></div>
            <div class="s intro">
                Welcome
                <span><b>
                       @Model[0].FirstName
                       @Model[0].LastName
            </b></span></div>
            <div class="ilogout">
                <a style="text-decoration:none" asp-controller="Patient" asp-action="PatientLogin"><button type="button" class="btn btn-outline-info"><i class="bi bi-box-arrow-right"></i></button></a>
            </div>
            <div class="Logout">
                <a asp-controller="Patient" asp-action="Logout" style="text-decoration:none"><button type="button" class="btn btn-outline-info">Logout</button></a>
            </div>
            <div class="theme"><img src="~/images/icons8-moon-symbol-25.png" alt="theme"></div>
        </div>
    </header>


    <ul class="nav nav-tabs shadow" id="hide" style="padding-left: 2%;background-color: white;">
        <li class="nav-item">
            <a class="nav-link" href="#dashboard" style="color: rgb(0, 0, 0);"><b>DashBoard</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Patient" asp-action="UserProfile" style="color: rgb(0, 0, 0);"><b>Profile</b></a>
        </li>

    </ul>

    <div class="h5" style="margin-top: 50px;margin-left: 1%;">Medical History</div>
    <div class="mainct shadow">
        <div style="display: flex;background-color: white;">
            <div class="irequest ">
                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-plus"></i></button>
            </div>
            <div class="request ">
                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#myModal">Create New Request</button>
            </div>
            </div>
        
        <table class="table" >
            <thead class="table-light">
                <tr>
                    <th>
                       Created Date
                    </th>
                    
                    <th>
                       status
                    </th>

                    <th>
                        document
                    </th>
                    

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @if (item.Status==1)
                            {
                                @Html.Raw("Unassigned")
                            }
                            @if (item.Status == 2)
                            {
                                @Html.Raw("Accepted")
                            }
                            @if (item.Status == 3)
                            {
                                @Html.Raw("Cancelled")
                            }
                            @if (item.Status == 4)
                            {
                                @Html.Raw("Reserving")
                            }
                            @if (item.Status == 5)
                            {
                                @Html.Raw("MDonRoute")
                            }
                            @if (item.Status == 6)
                            {
                                @Html.Raw("MDOnSite")
                            }
                            @if (item.Status == 7)
                            {
                                @Html.Raw("FollowUp")
                            }
                            @if (item.Status == 8)
                            {
                                @Html.Raw("Closed")
                            }
                            @if (item.Status == 9)
                            {
                                @Html.Raw("Locked")
                            }
                            @if (item.Status == 10)
                            {
                                @Html.Raw("Declined")
                            }
                            @if (item.Status == 11)
                            {
                                @Html.Raw("Consult")
                            }
                            @if (item.Status == 12)
                            {
                                @Html.Raw("Clear")
                            }
                            @if (item.Status == 13)
                            {
                                @Html.Raw("CancelledByProvider")
                            }
                            @if (item.Status == 14)
                            {
                                @Html.Raw("CCUploadedByClient")
                            }
                            @if (item.Status == 15)
                            {
                                @Html.Raw("CCApprovedByAdmin")
                            }
                        </td>
                        <td>
                            @if(@item.count == 0)
                            {
                                
                            }
                            else
                            {
                    
                                <a style="text-decoration:none" asp-controller="Patient" asp-action="PatientDashboardDoc" asp-route-id="@item.RequestId"> <button type="button" class="btn btn-outline-info">@item.count Document</button></a>
                            }
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="mobilect container-fluid">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            @foreach (var item in Model)
            {

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Html.DisplayFor(modelItem => item.RequestId)" aria-expanded="false" aria-controls="collapseOne">
                            CreatedDate:@Html.DisplayFor(modelItem => item.CreatedDate)
                        </button>
                    </h2>
                    <div id="collapse-@Html.DisplayFor(modelItem => item.RequestId)" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            @if (item.Status == 1)
                            {
                                @Html.Raw("Unassigned")
                            }
                            @if (item.Status == 2)
                            {
                                @Html.Raw("Accepted")
                            }
                            @if (item.Status == 3)
                            {
                                @Html.Raw("Cancelled")
                            }
                            @if (item.Status == 4)
                            {
                                @Html.Raw("Reserving")
                            }
                            @if (item.Status == 5)
                            {
                                @Html.Raw("MDonRoute")
                            }
                            @if (item.Status == 6)
                            {
                                @Html.Raw("MDOnSite")
                            }
                            @if (item.Status == 7)
                            {
                                @Html.Raw("FollowUp")
                            }
                            @if (item.Status == 8)
                            {
                                @Html.Raw("Closed")
                            }
                            @if (item.Status == 9)
                            {
                                @Html.Raw("Locked")
                            }
                            @if (item.Status == 10)
                            {
                                @Html.Raw("Declined")
                            }
                            @if (item.Status == 11)
                            {
                                @Html.Raw("Consult")
                            }
                            @if (item.Status == 12)
                            {
                                @Html.Raw("Clear")
                            }
                            @if (item.Status == 13)
                            {
                                @Html.Raw("CancelledByProvider")
                            }
                            @if (item.Status == 14)
                            {
                                @Html.Raw("CCUploadedByClient")
                            }
                            @if (item.Status == 15)
                            {
                                @Html.Raw("CCApprovedByAdmin")
                            }
                            <div>
                               
                                @if (@item.count == 0)
                                {

                                }
                                else
                                {

                                    <a style="text-decoration:none" asp-controller="Patient" asp-action="PatientDashboardDoc" asp-route-id="@item.RequestId"> <button type="button" class="btn btn-outline-info">@item.count Document</button></a>
                                }
                                </div>
                           
                           </div>
                    </div>
                </div>
               
            }
            
     
        </div>
    </div>


</body>
</html>

